@use './styles/theme';
@use './styles/tokens';
@use './styles/focus';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--ur-bg-base);
  color: var(--ur-fg-primary);
  font-family: var(--ur-font-body);
  margin: 0;
}
